body {
  width: auto;
  height: auto;
  background-color: rgb(245, 246, 249);
  font-family: "Brandon Text Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(71, 71, 71);
  margin: 0px;
}

main {
  padding: 1.5rem;
}
#main {
  max-width: 800px;
}
:root {
  --white: #ffffff;
  --blackish: #282828;
  --dark-grey: #5a6466;
  --mid-grey: #758185;
  --cool-grey: #909fa3;
  --light-grey: #abbdc2;
  --pale-grey: #f5f6f9;
  --max-navy-blue: #0d596d;
  --max-bright-blue: #5db9d1;
  --max-ice-blue: #e3f3f6;
  --max-burgundy: #ad3b4a;
  --max-orange: #de7f39;
  --max-maize: #fcbf53;
  --max-plum: #915682;
  --awesome-green: #579427;
  --ohshit-red: #d0021b;
  --max-dark-blue: #083c4a;
}
@font-face {
  font-family: 'Brandon Text Thin';
  src: url('/fonts/brandon-text/Brandon Text Thin.eot');
  src: url('/fonts/brandon-text/Brandon Text Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/brandon-text/Brandon Text Thin.ttf') format('truetype'),
    url('/fonts/brandon-text/Brandon Text Thin.woff') format('woff'),
    url('/fonts/brandon-text/Brandon Text Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Text Thin Italic';
  src: url('/fonts/brandon-text/Brandon Text Thin Italic.eot');
  src: url('/fonts/brandon-text/Brandon Text Thin Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/brandon-text/Brandon Text Thin Italic.ttf') format('truetype'),
    url('/fonts/brandon-text/Brandon Text Thin Italic.woff') format('woff'),
    url('/fonts/brandon-text/Brandon Text Thin Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Text Light';
  src: url('/fonts/brandon-text/Brandon Text Light.eot');
  src: url('/fonts/brandon-text/Brandon Text Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/brandon-text/Brandon Text Light.ttf') format('truetype'),
    url('/fonts/brandon-text/Brandon Text Light.woff') format('woff'),
    url('/fonts/brandon-text/Brandon Text Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Text Light Italic';
  src: url('/fonts/brandon-text/Brandon Text Light Italic.eot');
  src: url('/fonts/brandon-text/Brandon Text Light Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/brandon-text/Brandon Text Light Italic.ttf') format('truetype'),
    url('/fonts/brandon-text/Brandon Text Light Italic.woff') format('woff'),
    url('/fonts/brandon-text/Brandon Text Light Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Text Regular';
  src: url('/fonts/brandon-text/Brandon Text Regular.eot');
  src: url('/fonts/brandon-text/Brandon Text Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/brandon-text/Brandon Text Regular.ttf') format('truetype'),
    url('/fonts/brandon-text/Brandon Text Regular.woff') format('woff'),
    url('/fonts/brandon-text/Brandon Text Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Text Medium';
  src: url('/fonts/brandon-text/Brandon Text Medium.eot');
  src: url('/fonts/brandon-text/Brandon Text Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/brandon-text/Brandon Text Medium.ttf') format('truetype'),
    url('/fonts/brandon-text/Brandon Text Medium.woff') format('woff'),
    url('/fonts/brandon-text/Brandon Text Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Text Bold';
  src: url('/fonts/brandon-text/Brandon Text Bold.eot');
  src: url('/fonts/brandon-text/Brandon Text Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/brandon-text/Brandon Text Bold.ttf') format('truetype'),
    url('/fonts/brandon-text/Brandon Text Bold.woff') format('woff'),
    url('/fonts/brandon-text/Brandon Text Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Text Black';
  src: url('/fonts/brandon-text/Brandon Text Black.eot');
  src: url('/fonts/brandon-text/Brandon Text Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/brandon-text/Brandon Text Black.ttf') format('truetype'),
    url('/fonts/brandon-text/Brandon Text Black.woff') format('woff'),
    url('/fonts/brandon-text/Brandon Text Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Regular';
  src: url('/fonts/brandon-text/Lato-Regular.ttf');
  src: url('/fonts/brandon-text/Lato-Regular.ttf') format('truetype'),
    url('/fonts/brandon-text/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato Thin';
  src: url('/fonts/brandon-text/Lato-Light.ttf');
  src: url('/fonts/brandon-text/Lato-Light.ttf') format('truetype'),
    url('/fonts/brandon-text/Lato-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.lato-header {
  font-family: 'Lato Thin';
  font-size: 22px;
  text-decoration: none;
  display: flex;
  color: var(--max-bright-blue);
}
.lato-header:active, .lato-header:focus, .lato-header:visited {
  text-decoration: none;
}
.logo {
  display: flex;
  margin-top: -2px;
  align-items: center;
}
.eng-logo {
  display: flex;
  margin-right: 15px;
  margin-left: 5px;

  align-items: center;
}
.center {
  text-align: center;
}
.horiz-blue {
  width: 249px;
  height: 28px;
  object-fit: contain;
}
.header-wrapper {
  padding: 20px;
  width: 100%;
}
.h1-left {
  font-family: 'Brandon Text Regular';
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--white);
}
.h1-centered {
  font-family: 'Brandon Text Regular';
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--max-dark-blue);
}
h2 {
  font-family: 'Brandon Text Regular';
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: var(--max-dark-blue);
}
h3 {
  font-family: 'Brandon Text Regular';
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--max-dark-blue);
  margin-bottom: 10px;
}
.Helper-Text {
  font-family: Avenir;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: var(--blackish);
}
.card-title {
  font-family: 'Brandon Text Light Italic';
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--blackish);
}
h4 {
  font-family: 'Brandon Text Regular';
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--max-dark-blue);
}
.UI-Snackbar {
  font-family: 'Brandon Text Regular';
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: 0.2px;
  color: var(--white);
}
.ui-intro {
  font-family: 'Brandon Text Regular';
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: 0.2px;
  text-align: center;
  color: var(--blackish);
}
h5 {
  font-family: 'Brandon Text Regular';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: var(--blackish);
}
.Button-White {
  font-family: 'Brandon Text Regular';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}
.Button-Purple {
  font-family: 'Brandon Text Regular';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--max-plum);
}
.Button-Orange {
  font-family: 'Brandon Text Regular';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #de7f38;
}
.Button-Disabled {
  font-family: 'Brandon Text Regular';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
.Button-Brand {
  font-family: 'Brandon Text Regular';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--max-bright-blue);
}
.Button-Blue {
  font-family: 'Brandon Text Regular';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--max-navy-blue);
}
.Input-Default {
  font-family: 'Brandon Text Regular';
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--cool-grey);
}
.Input-Active {
  font-family: 'Brandon Text Regular';
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--max-navy-blue);
}
.UI-List {
  font-family: 'Brandon Text Regular';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: var(--blackish);
}
.ui-icon {
  font-family: FontAwesome5Free;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: var(--blackish);
}
.UI-Progress-Unselected {
  font-family: 'Brandon Text Regular';
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--max-navy-blue);
}
.UI-Progress-Selected {
  font-family: 'Brandon Text Regular';
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
}
.navigation-link-blue {
  font-family: 'Brandon Text Regular';
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: right;
  color: var(--max-bright-blue);
}
.Navigation-Selected {
  font-family: 'Brandon Text Regular';
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: var(--max-bright-blue);
}
.article-author {
  display: inline;
}
.link {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: var(--max-dark-blue);
  text-decoration: none;
}

.link:visited {
  color: var(--max-dark-blue);
}

.link:hover, .link:focus {
  color: var(--max-bright-blue);
}
.navigation-link {
  font-family: 'Brandon Text Regular';
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-decoration: none;
  color: var(--white);
}
.navigation-link:hover,  .nav-item.active {
  color: var(--max-bright-blue)
}
.nav-item:hover, .nav-item.active {
  border-bottom: 3px solid var(--max-bright-blue);
}
.nav-item {
  padding: 28px;
  display: inline;
}
.UI-Welcome {
  font-family: 'Brandon Text Regular';
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: right;
  color: var(--white);
}
.round-image {
  border-radius: 50%;
}
.UI-Link-Right {
  font-family: 'Brandon Text Regular';
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: right;
  color: var(--max-bright-blue);
}
.Navigation-Unselected {
  font-family: 'Brandon Text Regular';
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: right;
  color: var(--cool-grey);
}
.Navigation-Completed {
  font-family: 'Brandon Text Regular';
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: var(--max-bright-blue);
}
h6 {
  font-family: 'Brandon Text Regular';
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: var(--blackish);
}
.UI-Label {
  font-family: 'Brandon Text Regular';
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--dark-grey);
}
.UI-Link-Centered {
  font-family: 'Brandon Text Regular';
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: center;
  color: var(--max-bright-blue);
}
label {
  font-family: 'Brandon Text Regular';
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--blackish);
}
.Input-Field-Label {
  font-family: 'Brandon Text Regular';
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--blackish);
}
.Input-Field-Label {
  font-family: 'Brandon Text Regular';
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--blackish);
}
.subtext {
  font-family: 'Brandon Text Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: var(--mid-grey);
}
.ui-text {
  font-family: 'Brandon Text Regular';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: var(--blackish);
}
body {
  font-family: 'Brandon Text Regular';
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: var(--blackish);
}
.pill-text {
  font-family: 'Brandon Text Regular';
  width: 112px;
  height: 17px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: center;
  color: var(--white);
}
.pill {
  padding: 2px 3px;
  min-height: 20px;
  margin-right: 20px;
  border-radius: 15px;
  text-align: center;
  background-color: var(--awesome-green);
  margin-bottom: 5px;
  width: 95px;
  background-color: var(--awesome-green);
  display: inline-block;
}
#tags {
  display: flex;
  align-items: center;
  justify-items: center;
}
.box {
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(238, 237, 241) 0px 2px 0px 0px;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(238, 237, 241);
  border-image: initial;
}

.posts-box {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 2em;
}


footer, nav {
  display: inherit;
  width: 100%;
}

nav {
  width: 100%;
  background-color: rgb(8, 60, 74);
  line-height: 1.5;
}
.footer-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.grid {
  width: 100%;
  padding: 50px 0px;
}
.header-row {
  max-width: 1440px;
  margin: 0 auto;
}
.footer-col {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.footer-col + .footer-col {
  margin-top: 10px;
}
.col {
  box-sizing: border-box;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  max-width: 100%;
  display: block;
  flex: 0 1 100%;
}
#content {
  max-width: 1440px;
  margin: 0px auto;
}
.kxcsCl {
  color: rgb(117, 129, 133);
  font-size: 15px;
  font-family: "Brandon Text Light", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
}


.invisible-xs {
  display:none;
}
.visible-xs {
  display: inherit;
}

@media only screen and (min-width: 62em) {
  .visible-md {
    display:inherit
  }
  .invisible-md {
    display: none;
  }
}
@media only screen and (min-width: 53.125em), not all {
  .grid {
    padding-left: 35px;
    padding-right: 35px;
  }

  .left-footer-col {
    -webkit-box-pack: start;
    justify-content: flex-start;
  }

  .footer-col {
    margin-top: 0px !important;
  }

  .col {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
    display: block;
    padding-left: 1.24rem;
    padding-right: 1.24rem;
  }
  .right-footer-col {
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 30em), not all {
  .grid {
    padding-left: 32px;
    padding-right: 32px;
  }

  .col {
    padding-left: 0.565rem;
    padding-right: 0.565rem;
  }
}

img[src*="#full-width"] {
  width:100%;
}
