<div class="nav-collapse navbar-responsive-collapse in collapse">
  <div class="container-fluid container-center  menu-hidden">
    <a class="navbar-brand logo" href="#"></a>
    <ul class="nav navbar-nav pull-right">
      <li class="account">
        <a class="{% if page.category == 'projects'%}active{% endif %}" href="/">PROJECTS</a>
      </li>
      <li class="account">
        <a class="{% if page.category == 'blog'%}active{% endif %}" href="/blog">BLOG</a>
      </li>
      <li class="account">
        <a href="http://github.com/maxwellhealth">GITHUB ACCOUNT</a>
      </li>

      <li class="account" id="helpHeader">
        <a href="http://www.maxwellhealth.com/careers">HIRING</a>
      </li>

    </ul>
  </div>
</div>