{{ define "main" }}
<main>
    <div class="row">
        <div class="col-xs-12 col-md-8">

            <!-- Ranges through content/posts/*.md -->
            {{ range  where .Paginator.Pages "Section" "ne" "" }}
            <div class="posts-box box">
                <div class="row center-xs">
                    <h1><a class="link" href="{{.Permalink}}">{{.Title}}</a></h1>
                </div>
                <div class="row center-xs">
                    <span>{{.Date.Format "2006-01-02"}}</span>
                </div>
                <div class="row ui-text ">
                    <div class="col-xs-12">
                        {{.Summary}}
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    {{ if .Truncated }}
                    <!-- This <div> includes a read more link, but only if the summary is truncated... -->
                    <div class="col-xs-12">
                        <a class="ui-intro  navigation-link-blue" href="{{ .RelPermalink }}">Read More…</a>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="box">
                <div class="ui-intro">HI there</div>
            </div>
        </div>
    </div>
</main>{{ end }}