<div class="box">
    <div class="row center-xs">
        <div class="col-xs-12" style="margin-bottom: 20px;">
            <img src="{{ "img/maxwell-hack.png" | absURL }}" height="100"/>
        </div>
    </div>
    <h3 class="center">Maxwell Health Engineering</h3>
    <div class="ui-intro">Benefits administration that works for you</div>
    <div class="ui-text">

        <p>
            Sun Life and Maxwell are focused on creating a painless benefits and HR experience for the broker and employer that’s easier and better in the ways that make a difference — beyond just price.
        </p>
        <p>Maxwell Health is now the first unified, carrier-distributed technology platform for benefits enrollment and administration for the small-to-midsized business market.</p>
    </div>
</div>