<nav class="header-wrapper ">
    <div class="row middle-xs header-row">
      <div class="col-xs-4">
        <a href="{{.Site.BaseURL}}"  class="lato-header">
          <div class="logo">
            <img src="{{ "img/maxwell_health_logo.png" | absURL }}"
              alt="Maxwell Health Logo"
              height="28px"
              class="Horiz-blue">
          </div>
            <div class="eng-logo">Engineering</div>
          </a>
      </div>
      <div class="invisible-xs visible-md col-md-4">
          <a class="navigation-link" href="https://www.maxwellhealth.com">
            <div class="nav-item">
              Homepage
            </div>
          </a>
          <a class="navigation-link" href="{{.Site.BaseURL}}">
            <div class="nav-item active">
              Blog
            </div>
          </a>
          <a class="navigation-link" href="https://github.com/maxwellhealth">
            <div class="nav-item">
              Github
            </div>
          </a>
      </div>
      <div class="visible-xs invisible-md col-xs-8 end-xs" style="padding-right: 3rem;">
          <a class="navigation-link" href="https://www.maxwellhealth.com">
            <div class="nav-item">
              Home
            </div>
          </a>
      </div>
    </div>
</nav>