{{ define "main" }}
<main>
    <h1>{{ .Params.name }} Articles</h1>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <!-- Ranges through content/posts/*.md -->
            {{ range  where .Paginator.Pages "Section" "ne" "" }}
            <div class="posts-box box">
                {{ with .Params.tags }}
                <div id="tags">
                    {{ range . }}
                    <div class="pill" style="background-color: {{ index $.Site.Data.tags . }};"> <a class="pill-text" href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . | title }}</a></div>
                    {{ end }}
                </div>
                {{ end }}
                <div class="row">
                    <div class="col-xs-12">
                        <h3><a class="link" href="{{.Permalink}}">{{.Title}}</a></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="card-title">{{ .Params.author }} on {{.Date.Format "Jan 2 2006"}}</span>
                    </div>
                </div>
                <div class="row ui-text ">
                    <div class="col-xs-12">
                        {{.Summary}}
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    {{ if .Truncated }}
                    <!-- This <div> includes a read more link, but only if the summary is truncated... -->
                    <div class="col-xs-12">
                        <a class="ui-intro  navigation-link-blue" href="{{ .RelPermalink }}">Read More…</a>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ end }}
        </div>
<aside id="meta" class="col-xs-12 col-md-4">
  <div class="box">
    <section >
        <div class="row center-xs">
          <img class="round-image" alt="author's avatar" src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=100&d=identicon">
        </div>
    </section>
    <section class="row center-xs">
      <h3 id="date" class="center">{{ .Params.name  }}</h3>
      <p class="card-title">{{ .Params.title  }}</p>
    </section>
    <section class="row center-xs">
    </section>
  </div>
</aside>
{{end}}